html,
body {
  padding: 0;
  margin: 0;
}

body {
  --main-color: #f6bd60;
  --serif-font: "Inria Serif", serif;
  --sans-font: "Istok Web", sans-serif;
  --display-font: "Kaushan Script", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
