.header {
  width: 100%;
  text-align: center;
}

.headerAlt {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 0 var(--global-padding);
  text-align: left;
}

.headerAlt h1 {
  margin-bottom: 5px;
}

.recipeTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recipeTitle h1 {
  max-width: 60vw;
}

.editButton,
.submitButton {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 8px 35px;
  font-size: 18px;
  font-family: var(--sans-font);
  background-color: var(--main-color);
  color: white;
  margin-bottom: 12px;
  font-weight: 600;
}

.deleteButton,
.delete2Button {
  margin-left: 15px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 8px 35px;
  font-size: 18px;
  font-family: var(--sans-font);
  /* height: 30px; */
  background-color: var(--delete-color);
  color: white;
  margin-bottom: 12px;
  font-weight: 600;
}

.cancelButton {
  margin-left: 15px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid var(--delete-color);
  padding: 8px 35px;
  font-size: 18px;
  font-family: var(--sans-font);
  /* height: 30px; */
  background-color: white;
  color: var(--delete-color);
  margin-bottom: 12px;
  font-weight: 600;
}

.cancel2Button {
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 8px 35px;
  font-size: 18px;
  font-family: var(--sans-font);
  background-color: white;
  border: 2px solid #dbdbdb;
  margin-bottom: 12px;
  margin-left: 12px;
}

.special {
  font-family: var(--display-font);
  font-size: 70px;
  color: var(--main-color);
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 60px;
}

.tagContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  padding: 0 var(--global-padding);
}

.content h3 {
  margin-top: 18px;
  margin-bottom: 12px;
}

.content ul,
.content ol {
  margin: 0;
  margin-bottom: 10px;
}

.content li,
.content p {
  font-size: 18px;
}

/* modal */
.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 600px;
  max-width: 90vw;
  padding: 30px;
  border-radius: 15px;
}

.modalBtn {
  font-size: 16px;
  margin: 0 5px;
}

.formContainer {
  padding: 0 var(--global-padding);
}

.formContainer h3 {
  margin-bottom: 0px;
}

.spacer {
  height: 30px;
}

@media (max-width: 800px) {
  .tagsContainer {
    padding: 10px var(--global-padding);
  }

  .editButton {
    background-color: white;
    padding: 0;
    font-size: 25px;
    color: black;
    /* margin-bottom: 0px; */
  }

  .deleteButton {
    background-color: white;
    padding: 0;
    font-size: 25px;
    color: var(--delete-color);
    /* margin-bottom: 0px; */
  }

  .cancelButton,
  .delete2Button {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .header h1,
  .headerAlt h1 {
    font-size: 40px;
  }

  .recipeTitle h1 {
    font-size: 35px;
  }

  .special {
    font-size: 50px;
  }

  .content li,
  .content p {
    font-size: 16px;
  }

  .cancel2Button {
    font-size: 16px;
  }

  .editButton,
  .deleteButton {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
