.header {
  width: 100%;
  text-align: center;
}

.special {
  font-family: var(--display-font);
  font-size: 70px;
  color: var(--main-color);
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 60px;
}
