.input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  font-size: 24px;
  font-family: var(--sans-font);
}

.input::placeholder {
  color: #9c9c9c;
}

.search {
  font-family: var(--serif-font);
  padding-left: 40px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-position: 7px;
  background-size: 25px;
  width: 80vw;
}

.small {
  font-size: 20px;
  padding: 5px 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 32vw;
  min-width: 300px;
  align-items: center;
  font-size: 18px;
  line-height: 1.2;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteIcon {
  font-size: 30px;
}

@media (max-width: 800px) {
}

@media (max-width: 500px) {
  .input {
    font-size: 20px;
  }

  input.input.small {
    max-width: 30vw;
  }

  input.search {
    max-width: initial;
  }

  .small {
    font-size: 16px;
  }
}
