.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--global-padding);
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 20px;
}

.card {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 100%;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 28px;
}

.card h2 {
  font-size: 24px;
  margin: 0 0 5px;
}

.card:hover {
  box-sizing: border-box;
  outline: 2px solid var(--main-color);
}

.tagContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.comment {
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 100%;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 28px;
  font-size: 14px;
}

.commentDelete {
  cursor: pointer;
  color: var(--delete-color);
  font-family: var(--sans-font);
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .container {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 20px;
  }
}

@media (max-width: 500px) {
  .container {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 20px;
  }

  .card h2 {
    font-size: 20px;
  }
}
